body{
    font-family:Roboto;
}

.logotipo {
    width: 15%;
    height: 15%;
}

footer {
    color:white;
    background-color: #3A4750;
}

.iconos-navegacion {
    font-size: 2rem;
    color: black;
}

.links-navegacion{
    text-decoration: none !important;
    color: black;
}

.iconos-sociales {
    font-size: 2rem;
    color: white;
}

.links-faq {
    color: white !important;
}